*{
background-color: #ffcc66;
}
body{
  width: 800px;
  height: 800px;
  text-align: center;
}
p {
font-style: italic;
}
p.styled {
  font-style: bold;
}
#far {
color: #ffffff;
font-size: 100%;
}
#out {
color: #ff9933;
font-size: 150%;
}
#dude {
color: #663300;
font-size: 200%;
}
