header{
  background-color: #99cccc
  
}
body{
  background-color: #ffffcc;
}
.main-container {
  background-color: #fffff;
}
.h1 {
  font-family: serif;
}
.h2 {
  font-family: serif;
}
.r1{

}
.r2{

}
