*{
  text-align: center;
  font-family: "merriweather", serif;
}
header {
  color: #663333;
  background-color: #99cccc;
  padding: 50px;
}
h1{
  color: #663333;
  text-align: center;
}
main{
  background-color: #ffffcc;
}
footer{
  color: #330000;
  background-color: #cc9966
}
hr {
  color #cc9966;
}
.h2 {
  color: #663333;
  font-family: serif;
}
.r1{
  color: #663333;
  font-family: ;
}
.r2{

}
