header {
  color: #663333;
  background-color: #99cccc;
  padding: 50px;
}
h1{
  color: #663333;
  text-align: center;
}
main{
  background-color: #ffffcc;
}
footer{
  background-color: #cc9966
}
.h2 {
  font-family: serif;
}
.r1{
  color: #663333;
  font-family: ;
}
.r2{

}
